<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="bg-slate-800 text-white">
    <header><%- include('partials/header') %></header>
    <main>
      <div class="flex-col flex gap-4 bg-slate-900 w-3/4 sm:w-1/2 rounded mx-auto my-4 p-2 pb-10">
        <% for(var i=0; i<messages.length; i++) { %>
          <div class="flex flex-col gap-3 bg-slate-800 rounded p-2">
            <div class="flex-row sm:flex gap-4 justify-between">
              <p class="text-center"><%= messages[i].title %></p>
              <% if (status === 'member' || status === 'admin') { %>
                <p class="text-center">Member: <%= messages[i].author.username %></p>
                <p class="text-center"><%= messages[i].date.toDateString() %></p>
              <% } %>
            </div>
              <div class="flex justify-start">
                <p class=" bg-slate-900 rounded px-2 py-1 w-full"><%= messages[i].message %></p>
              </div>
            <% if (status === 'admin') { %>
              <div class="flex justify-end">
                <form action="/auth/delete-message" method="POST">
                  <input type="hidden" name="messageId" value="<%= messages[i]._id %>">
                  <button class="bg-red-600 hover:bg-red-800 text-white font-bold py-1 px-2 rounded" type="submit">Delete</button>
                </form>
              </div>
            <% } %>
          </div>
        <% } %>
      </div>

    </main>
    <footer><%- include('partials/footer') %></footer>
  </body>
</html>
