<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="bg-slate-800">
    <header><%- include('partials/header') %></header>
    <main
      class="flex flex-col w-1/4 mx-auto gap-4 mt-4 px-4 py-2 bg-slate-900 rounded text-white"
    >
      <h1 class="font-bold text-2xl"><%= title %></h1>
      <form class="flex flex-col gap-1" action="" method="POST">
        <label for="username">Username</label>
        <input
          class="input-primary"
          name="username"
          placeholder="Enter a username"
          type="text"
          value="<%= user %>"
        />
        <label for="password">Password</label>
        <input
          class="input-primary"
          name="password"
          type="password"
          placeholder="Enter a secure password"
        />
        <label for="confPassword">Confirm Password</label>
        <input
          class="input-primary"
          name="confPassword"
          type="password"
          placeholder="Confirm your password"
        />

        <% if (errors.main) { %>
        <p class="text-red-700">
          <% errors.main.forEach((error) => { %> <%= error %> <% }) %>
        </p>
        <% } %>

        <label class="pt-5" for="memberPassword"
          >Enter Member's Club Password</label
        >
        <input
          class="input-primary"
          name="memberPassword"
          type="password"
          placeholder="Enter the secret password."
        />

        <% if (errors.member) { %>
        <p class="text-red-700">
          <% errors.member.forEach((error) => { %> <%= error %> <% }) %>
        </p>
        <% } %>

        <button
          class="mt-4 py-1 rounded bg-slate-800 hover:bg-slate-500 w-1/2 mx-auto"
        >
          Sign Up
        </button>
      </form>
    </main>
  </body>
</html>
